{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>What's the weather like?</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'weather/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    

</head>
<body>
<nav>
    <div class="container nav-wrapper">
        <a href="/" class="brand-logo">What's the weather like?</a>
        <ul id="nav-mobile" class="right">
            <li><a href="/">Home</a></li>
        </ul>
    </div>
</nav>
{% for message in messages %}
<div class="container-fluid p-0">
    <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="True">&times;</span>
        </button>
        {{ message }}
    </div>
</div>
{% endfor %}
<div class="container">
    <h5 style="text-align: center">Type in an address/city of a place:</h5>
    <p id="selected" style="display: none">{{ selected }}</p>
    <form action="{% url 'new_search' %}" method="post">
        {% csrf_token %}
        <!-- <input type="text" name="search" placeholder="search"> -->
        {{ form.name }}
        <div class="row" style="text-align: center">
        <button class="btn waves-effect waves-light" type="submit" name="find">search
            <i class="material-icons right">send</i>
        </button>
        <button class="btn waves-effect waves-light" type="submit" name="display">view
            <i class="material-icons right">send</i>
        </button>
        </div>
    </form>


    {% block content %}

    {% endblock content %}
    {% if selected %}
    <center>
        <button class="btn waves-effect waves-light" name="save" id = "save">save
            <i class="material-icons right">send</i>
        </button>
    </center>
    {% endif %}
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

</body>
</html>