{% extends 'weather/base.html' %}

{% block content %}
    <div class="row">
        {% for weather in weather_data %}
        <div class="box">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-50x50">
                        <span id="icon" style="display:none;">{{ weather.icon }}</span>
                        <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <span class="title" id="location">{{ weather.city }}</span>
                            <br>
                            <span class="subtitle" id="temperature">{{ weather.temperature }}° F</span>
                            <br> <span id="description">{{ weather.description }}</span>
                        </p>
                    </div>
                </div>
            </article>
        </div>
        {% endfor %}
    </div>

    <script>
        
        $(function(){
            $("button[id^='sav']").bind('click', function(){
                var element = document.getElementById('selected').textContent;
                if (element == "True"){
                    var icon = document.getElementById("icon").textContent;
                    var temperature = document.getElementById("temperature").textContent;
                    var location = document.getElementById("location").textContent;
                    var description = document.getElementById("description").textContent;
        
                    $.ajax({
                        type: "POST",
                        url: '{% url "save_weather_forecast" %}',
                        data: {
                            'csrfmiddlewaretoken': '{{ csrf_token }}',
                            'icon': icon,
                            'location':location,
                            'description':description,
                            'temperature':temperature
                        },
                        success: function (data) {
                            console.log(data);
                            document.getElementById('selected').textContent = "False";
                            document.getElementById("save").style.display="none";
                            // alert (data.message)

                        },
                        error: function() {
                            alert ("Something went wrong");
                        }
                        
                    });
                }
            });
        });
    </script>
{% endblock content %}
