.card {
    height: 400px; /* Your height here */
    overflow: hidden;
}

.card-image {
    height: 250px; /* Your height here */
    overflow: hidden;
}


.container {
    margin:0 auto;
    max-width:1280px;
    width:90%
}
@media only screen and (min-width: 601px) {
    .container {
        width:85%
    }
}
@media only screen and (min-width: 993px) {
    .container {
    width:40%;
    }
}